<div id="gitment"></div>

<!-- 主页不要加载gitment -->
<% if (!index){ %>

<script>
var gitment = new Gitment({
  owner: 'kiwenlau',
  repo: 'blog',
  oauth: {
    client_id: '69592d39b4d30864d38d',
    client_secret: '69c0466ee3340af034daa15f9feb7a210adbdac2',
  },
})
gitment.render('gitment')
</script>
 
<% } %>