<div class="widget tag">
	<h3 class="title">广告</h3>
	<ul class="entry"> 
		<!-- 谷歌广告 -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 广告 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7900921987925432"
     data-ad-slot="3286707707"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	</ul>
</div>