<div class="widget tag">
	<h3 class="title">打赏</h3>
	<ul class="entry"> 
		<li ><img src="http://opu33c4l3.bkt.clouddn.com/alipay.JPG" style="width:150px;" /></li>
		</br>
		<li ><img src="http://opu33c4l3.bkt.clouddn.com/wechat.JPG" style="width:150px;" /></li>
	</ul>
</div>