<div class="widget tag">
	<h3 class="title">打赏</h3>
	<ul class="entry"> 
		<li ><img src="/img/alipay.JPG" style="width:150px;" /></li>
		</br>
		<li ><img src="/img/wechat.JPG" style="width:150px;" /></li>
	</ul>
</div>