<div class="widget tag">
	<h3 class="title">个人介绍</h3>
	<ul class="entry" style="font-size:15px">
		<li>
			<a class="disablefancybox" href="https://fundebug.com"><img src="/img/fundebug.png" style="width:120px;"></a>
		</li>
		<li>
			<a href="https://fundebug.com">Fundebug</a> 创始人
		</li>
<!-- 		<li>
			<a href="https://github.com/kiwenlau"><img height="15px" src="/img/github.png"></a> <a href="https://github.com/kiwenlau">GitHub</a>
		</li> -->
		<li >
		<a href="mailto:kiwenlau@126.com">
			kiwenlau@126.com</a>
		</li>
	</ul>
</div>

<div class="widget tag">
  <h3 class="title">关于Fundebug</h3>
  <div class="widget">
    <ul>
      <li style="font-size: 14px; color: rgb(85, 85, 85)"> <a href="https://www.fundebug.com/">Fundebug</a>是专业的应用错误监控平台，支持监控前端网页、微信小程序、微信小游戏、Java和Node.js的错误，能够及时发现线上BUG，助您提升用户体验。</li>
        <video controls 
         style="width: 284px" 
         poster="/img/default_product_image.png" 
         src="/product.mp4"></video>
      <li style="font-size: 14px; color: rgb(85, 85, 85)" >累计处理错误: 
        <span style="font-size:30px;color:#ffbe4e;font-weight:600 " id ="totalcount"></span>
      </li>
    </ul>
  </div>
</div>